body{
    background-color: azure;
    margin:0;
    height: 100%;
}
.flex-center{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-wrap:wrap;
}
.rectangle1{
    width: 30vw;
    height: 30vh;
    background-color: bisque;
    border: 4px solid black;
    border-radius: 3%;
}