body{
    background-color: azure;
    margin:0;
    height: 100%;
    width: 100%;
}
.location-center{
    height: 100vh;
    width: 100vw;
}
.rectangle1{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    width: 30vw;
    height: 30vh;
    background-color: bisque;
    border: 4px solid black;
    border-radius: 3%;
}